<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ADD STUDENT</h1>
    <form action="#" method="post">
        <p>
            <label for="std_id"><b>Student ID:</b> </label>
            <br>
            <input type="text" id="std_id" name="std_id" placeholder="Student ID" size="50">
        </p>
        <p>
            <label for="name"><b>Student Name</b> </label>
            <br>
            <input type="text" name="name" id="name" placeholder="Student Name" size="50">
        </p>
        <p>
        <p style="margin-bottom: 0%;"><b>Gender:</b></p>
        <input type="radio" id="male" name="gender" value="Male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label><br>
        </p>
        <label for="birthday"><b>Date of Birth:</b></label>
        <br>
        <input type="date" id="birthday" name="birthday">
        <p>
            <label for="city"><b>City: </b> </label>
            <br>
            <input type="text" id="city" name="city" placeholder="City" size="50">
        </p>
        <p>
            <label for="state"><b>State: </b> </label>
            <br>
            <input type="text" id="state" name="state" placeholder="State" size="50">
        </p>
        <p>
            <label for="email"><b>Email Id:</b> </label>
            <br>
            <input type="text" id="email" name="email" placeholder="Email ID" size="50">
        </p>
        <p>
            <label for="quali"><b>Qualification</b> </label>
            <br>
            <input type="text" id="quali" name="quali" placeholder="Qualification" size="50">
        </p>
        <p>
            <label for="stream"><b>Stream</b> </label>
            <br>
            <input type="text" id="stream" name="stream" placeholder="Stream" size="50">
        </p>
        <input type="submit" name="submit" id="submit" value="submit">
    </form>
</body>

</html>